<!DOCTYPE html>
<html>
	<head>
		<title>Koutani Campfire</title>
		<%= stylesheet_link_tag 'base', :media => 'screen' %>
		<%= stylesheet_link_tag 'skeleton', :media => 'screen' %>
		<%= stylesheet_link_tag 'layout', :media => 'screen' %>
	</head>
	<body>
		<div class="container">
			<div id="header" class="sixteen columns">
				<h2>
					<%= image_tag "koutanilogo.png", :size => "35x35" %>
					Koutani Campfire
				</h2>
			</div>
			<div id="newproject">
				<%= render :partial => 'newprojectform' %>
			</div>
			<%= render :partial => 'todolist' %>
		</div>
	</body>
</html>
